<%- include('../partials/header.ejs') %>
<br />
<div class="container">
  <h4>Add new Book</h4>
  <form class="" action="/books" method="POST">
    <% if(locals.errorMessage != null){ %> <%= errorMessage %> <% } %>
    <%-include('../partials/_form_for_book.ejs') %>
    <div class="container">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
</div>
