<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand">
      <a href="/"
        ><img
          src="/public/images/logo1.png"
          alt=""
          srcset=""
          style="width: 70px"
      /></a>
      <h6 style="margin-left: 18px; color: #00bc8c; font-size: 13px">Briefs</h6>
    </div>

    <div class="mr-auto ml-5">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/books">Books</a>
        </li>

        <% if(user){ %>
        <li class="nav-item">
          <a class="nav-link" href="/books/add">Add Books</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/books/genres">Genres</a>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <% if(user){ %>
        <div class="dropdown show">
          <a
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item"><%= user.name %> </a>

            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </div>
        <% }else{ %>

        <div class="nav-item">
          <a href="/users/login" class="nav-link">Sign In</a>
        </div>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<script>
  const links = document.querySelectorAll(".nav-link");
  links.forEach((l) => {
    if (l.pathname === window.location.pathname) {
      l.classList.add("active");
    }
  });
</script>
