<body>
  <section id="showcase">
    <div class="showcase-content">
      <div class="logo">
        <a href="/"
          ><h2 href="/" class="logo">
            <img
              class="logo-img"
              src="/public/images/logo1.png"
              alt=""
              srcset=""
            /></h2
        ></a>
        <h5 class="logo logo-text">Briefs</h5>
      </div>

      <a href="/users/login" class="sign-btn btn btn-success">Sign In</a>

      <div class="container">
        <p class="welcome pb-2">
          Welcome to<span class="name"> BookBriefs </span>
        </p>
        <h3 class="quote text-center pb-3">
          "A Library is a place vibrating with ideas"
        </h3>
        <a href="/books" type="button" class="btn-success btn getstarted-btn"
          >Get Started
        </a>
      </div>
    </div>
  </section>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
